{% extends 'base.html' %}
{% block title %}Lista szkoleń{% endblock %}

{% block content %}
    <h2>Zarządzanie: Lista szkoleń</h2>
    <table>
        <tr>
            <th>Kategoria</th>
            <th>Numer</th>
            <th>Tytuł</th>
            <th>Cena</th>
            <th>Publikuj</th>
        </tr>
        {% for course in courses %}
        <tr>
            <td>{{ course.category.name }}</td>
            <td>{{ course.number }}</td>
            <td>{{ course.title }}</td>
            <td>{{ course.price }}</td>
            <td>{% if course.is_published %}Tak{% else %}Nie{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
    <br><a href="{% url 'panel_main' %}">Wróć do Panelu</a>
{% endblock %}